body {
  background-color: bisque;
}

svg {
  border: 2px solid black;
  display: inline-block;
  background-color: white;
}

#buttonsContainer {
  max-width: 3.5%;
  display: inline;
  position: absolute;
  margin-left: 50px;
}

button {
  margin: 0.5px;
  background-color: #9fe6ce;
  border-radius: 10px;
  border: 1px solid black;
  width: 72px;
  height: 59.5px;
  font-size: 16px;
  font-family: cursive;
  font-style: italic;
  color: plum;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input {
  border: 2px solid red;
  border-radius: 4px;
  position: absolute;
}

circle {
  fill: blueviolet;
}

rect {
  fill: cadetblue;
}
